/* content-title  */

.content-title {
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    max-width: 800px;
    margin: 102px auto 48px auto;
}

@media screen and (max-width: 1023px) {
    .content-title {
        font-size: 42px;
        line-height: 46px;
        max-width: 720px;
    }
}

@media screen and (max-width: 767px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;
        max-width: 100%;
        margin: 64px auto 20px auto;
    }
}

